@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}

body{
  background: #fc6b04;
 font-family: 'Roboto Flex', sans-serif;
}

h1{
  font-size: 40px;
  color: whitesmoke;
}

h2{
  font-size: 30px;
}

p{
  margin: 5px;
}
.header{
  text-align: center;
  color: whitesmoke;
}

.container-1{
  margin-right: 30px;
  margin-left: 30px;
}

.bg-image{
  margin: 50px;
  padding: 300px;
  background-image: url(../images/buas-canteen.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 25px;
  color: black;
}

.bg-image-p{
  background-color: whitesmoke;
}

.container-2{
  align-content: center;
}