@charset "UTF-8";
head {
	font-family: "Dongle", sans-serif; 
}
body {
background: gray;
}
h1 {
color:pink;
}
.paragraph {
font-size: 18px;
background: #C24648;  
}
.maincontainer {
width: 1500px;
height: 850px;
background:#FFFFFF;
}
.imagetext {
float: left; 
margin-left: 10px;
margin-right: 20px;
margin-top: 15px; 
}